<h1>Welcome Home</h1>

<div>
<%= link_to "User Sign Up", signup_path %>
<br>
<br>
<%= link_to "User Log In", login_path %>
<br>
<br>
<%= link_to "User Google Log In",  "/auth/google_oauth2", method: "post" %>
</div>

<br>
<br>
OR
<br>
<br>

<div>
<%= link_to "Creator Sign Up", signup_creator_path %>
<br>
<br>
<%= link_to "Creator Log In", login_creator_path %>
</div>