<h1>Creator Login Page</h1>
<%= flash[:error] %>
<%= form_for @creator, url: '/login-creator' do |f| %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Login" %>
<% end %>