<h1>Sign Up Form - Creator</h1>
<%= form_for(@creator) do |f| %>
    <%= render partial: 'layouts/errors', locals: {object: @creator} %>
    <%= f.label :username %>
    <%= f.text_field :username %>
    <%= f.label :email %>
    <%= f.email_field :email %>
    <%= f.label :password %>
    <%= f.password_field :password %>
    <%= f.submit "Sign Up" %>
<% end %>