<h1>Album Show Page</h1>

<ul>
    <li>Album Name: <%= @album.name %></li>
    <li>Category: <%= @album.category %></li>
    <li>Released: <%= @album.released %></li>
    <li>Release Date: <%= @album.release_date %></li>
</ul>

<h2>Songs in This album</h2>
<ul>
    <% @album.songs.each do |song|%>
        <li><%= song.name %></li>
    <% end %>
    
</ul>


<%= link_to 'Add Song to Album', new_album_song_path(@album) %>


