<div id="header-container">
    <%= link_to home_path do %>
        <div id="header-container-logo"></div>
    <% end %>
    <div id="header-container-buttons">
        <% if logged_in_creator? || logged_in_user? %>
            <% if logged_in_creator? %>
                <%= link_to 'Home', home_creator_path %>
                <%= link_to "New Album", new_album_path %>       
                <%= link_to 'Log Out', logout_creator_path, method: :delete, class: 'header-container-item'%>
            <% elsif logged_in_user? %>
                <%= link_to 'Log Out', logout_path, method: :delete, class: 'header-container-item' %>
            <% end%>
        <% else %>
            <% if for_creator_url? %>
                <%= link_to "Get Access", signup_creator_path %>
                <%= link_to "Log In", login_creator_path %>
            <% else %>
                <%= link_to "Sign Up", signup_path, class: 'header-container-item' %>
                <%= link_to "Log In", login_path, class: 'header-container-item' %>
            <% end %>
        <% end %>
    </div>
</div>