<div id="navbar-container">
    <div id="navbar-container-main-menu" class="navbar-container-section">
        <h2>Main Menu</h2>
        <div class="navbar-container-selection-item">
            <%= link_to 'Home',home_path %>
        </div>
        <div class="navbar-container-selection-item">
            <%= link_to 'Songs', songs_path %>
        </div>
        <div class="navbar-container-selection-item">
            <%= link_to 'Albums', albums_path %>
        </div>
        <div class="navbar-container-selection-item">
            <%= link_to 'Creators', creators_path %>
        </div>
        <div class="navbar-container-selection-item">
            <%= link_to 'Singles', singles_path %>
        </div>
        <div class="navbar-container-selection-item">
            <%= link_to 'Podcasts', podcasts_path %>
        </div>
    </div>
    <div id="navbar-container-yours" class="navbar-container-section">
        <h2>Yours</h2>
        <div class="navbar-container-selection-item">
            <p>Favorite</p>
        </div>
        <div class="navbar-container-selection-item">
            <p>Play History</p>
        </div>
        <div class="navbar-container-selection-item">
            <p>Download Items</p>
        </div>
    </div>
</div>