<!DOCTYPE html>
<html>
  <head>
    <title>Loudr</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div id="nav-main">
        <% if logged_in_user? %>
          <!-- TODO Link to home, link to creators list, link to favorites, link to following, link to playlists -->
          <%= link_to 'Log Out', user_logout_path, method: :delete, class: 'nav-item'%>
        <% end%>
        <% if logged_in_creator? %>
          <!-- TODO Link to home, link to create new, link to my content, link to all creators, link to clips -->
          <%= link_to 'Log Out', user_logout_path, method: :delete, class: 'nav-item'%>
        <% end%>
    </div>


    <%= yield %>
  </body>
</html>
